.chat-window {
  height: 70vh;
  overflow-y: auto;
}

.hidden {
  visibility: hidden;
  display: none;
}

.message-sent {
  text-align: right;
}

.message {
  width: auto;
}

.chat-input {
  width: 85%;
}

.color-2 {
  background-color: rgb(247, 220, 183);
}

.color-1 {
  background-color: mediumturquoise;
}

.page-bg {
  background-color: papayawhip;
}

.panel-bg {
  background-color: lightgray;
}

.site-bg {
  background-color: tomato;
}