.chat-window {
  height: 70vh;
  overflow-y: auto;
}

.hidden {
  visibility: hidden;
  display: none;
}

.message-sent {
  text-align: right;
}

.message {
  width: auto;
}

.chat-input {
  width: 85%;
}

.color-2 {
  background-color: #FFEFD8;
}

.color-1 {
  background-color: #FFFAE6;
}

.page-bg {
  background-color: papayawhip;
}

